@import './typography.scss';
@import '../tools/variables.scss';

html,
body,
* {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    &::-webkit-scrollbar {
        width: 0.4em;

        &-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &-thumb {
            background: $gray-800;
        }
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}
