@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../../assets/fonts/SairaExtraCondensed-Medium.ttf') format('truetype'),
}

*,
*::before,
*::after {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', sans-serif;
}

h1 {
    font-size: 55px;
    font-weight: 800;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}
