@import '../../tools/variables.scss';

.skillContainer {
    padding: 40px 60px;
}

.skillTitle {
    margin: 12px;
}

.skillHeader {
    margin: 30px auto;
}

.skillHeaderTitle {
    margin: 20px auto 10px auto;
    font-size: 21px;
    font-weight: 500;
    font-family: $primary-font;
    color: $cyan-500;
}

.img {
    margin: 0 auto;
}

.item {
    margin: 12px auto;
}