.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
    border-radius: 12px;
    position: relative;
    top: -150px;
    background: #fff;
    margin: 0;
    padding: 0;
}

.item:nth-child(2) {
    border-left: 1px solid #e6ecf8;
    border-right: 1px solid #e6ecf8;
}
