@import '../../tools/variables.scss';

.collaboration {
    background: $gray-800;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
    margin-top: 100px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    padding: 40px;
    align-items: center;
}

.title {
    font-size: 36px;
    font-family: $secondary-font;
}

.description {
    line-height: 26px;
    text-align: center;
}

.cta {
    background: transparent;
    width: fit-content;
    justify-self: end;
    
    a {
        color: #fff;
    }
}