@import '../../tools/variables.scss';

.item {
	border-radius: 12px;
	box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;

	img {
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		opacity: 0.6;
		transition: opacity 0.5s ease;
	}

	&:hover {
		cursor: pointer;

		img {
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}
}

.content {
	padding: 20px;
}
