@import '../tools/variables.scss';

.btn {
    font-size: 18px;
    padding: 19px;
    border-radius: 30px;

    &:hover {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
}

.primary {
    background: $cyan;
    border: 1px solid $cyan;
    color: #fff;

    &:hover {
        color: $cyan;
        background: #fff;
        border: 1px solid $cyan;

        a {
            color: $cyan;
        }
    }

    a {
        color: #fff;
    }
}

.outline {
    color: $cyan;
    background: #fff;
    border: 1px solid $cyan;

    &:hover {
        background: $cyan;
        border: 1px solid $cyan;
        color: #fff;
        cursor: pointer;

        a {
            color: #fff;
        }
    }

    a {
        color: $cyan;
    }
}
