@import '../../tools/variables.scss';

.container {
    background: $cyan;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 auto 100px auto;
    padding: 100px;
}

.title {
    margin: 0;
}

.description {
    width: 65%;
    margin: 0 auto;
    line-height: 26px;
}
