@import '../../tools/variables.scss';
@import '../../tools/breakpoints.scss';

.container {
    background: $cyan;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 50px 20px 200px 20px;

    @include for-desktop-up {
        padding: 100px 100px 200px;
    }
}

.title {
    margin: 0;
}

.description {
    margin: 0 auto;
    line-height: 26px;

    @include for-desktop-up {
        width: 65%;
    }
}
