@import '../../tools/variables.scss';

.logo {
    font-family: $secondary-font;
    font-size: 40px;
}

.initials {
    font-family: $secondary-font;
}

.dark {
    color: $gray;

    .initials {
        color: $cyan;
    }
}

.light {
    color: #fff;

    .initials {
        color: $cyan-900;
    }
}
