@import '../../tools/breakpoints.scss';

.content {
    display: none;
    position: absolute;
    top: 0;
    padding: 10px;
    text-align: center;
    line-height: 26px;
    color: #fff;

    @include for-tablet-portrait-up {
        padding: 35px;
    }
}

.project {
    border-radius: 12px;

    &:hover {
        cursor: pointer;

        .content {
            display: block;
        }

        .projectImg {
            transition: filter 0.5s ease-in-out;
            filter: brightness(0.2);
        }
    }
}

.projectImg {
    object-fit: cover;
    border-radius: 12px;
    transition: filter 0.5s ease-in-out;
    filter: brightness(0.8);
    height: 220px;

    @include for-tablet-portrait-up {
        width: 500px;
        height: 200px;
    }
}

.cta {
    background: transparent;
    margin-top: 20px;

    a {
        color: #fff;
    }
}
