@import '../../tools/breakpoints.scss';

.content {
    display: none;
    position: absolute;
    margin-top: -240px;
    padding: 20px;
    color: #fff;
    text-align: center;
    line-height: 26px;

    @include for-tablet-landscape-up {
        position: relative;
        margin-top: -195px;
    }
}

.project {
    border-radius: 12px;

    &:hover {
        cursor: pointer;
    
        .content {
            display: block;
        }
    
        .projectImg {
            transition: filter 0.5s ease-in-out;
            filter: brightness(0.2);
        }
    }
}

.projectImg {
    object-fit: cover;
    border-radius: 12px;
    transition: filter 0.5s ease-in-out;
    filter: brightness(0.8);

    @include for-tablet-landscape-up {
        width: 500px;
        height: 200px;
    }
}

.cta {
    background: transparent;
    margin-top: 20px;

    a {
        color: #fff;
    }
}
